﻿@model Cyrillic.HR.ViewModels.TimeTracker.ReportViewModel
@{
    ViewBag.Title = "Time Tracker Report";
}
@section styles
{
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css.map" />
}
<h2>Time Tracker Report</h2>

<hr />

@using (Html.BeginForm("Index", "TimeTrackerReport", FormMethod.Post, new { @class = "form-inline text-center" }))
{
    <div class="form-group">
        <label>
            @Html.RadioButtonFor(m => m.MonthCustomChoice, "month", new { @checked = true })
            Display by Month
        </label>
        @(Model.MonthCustomChoice == "month" ? Html.DropDownListFor(m => m.SelectedMonthOrdinalNumber, new SelectList(Model.Months, "Key", "Value", Model.SelectedMonthOrdinalNumber), new { @class = "form-control month" }) : Html.DropDownListFor(m => m.SelectedMonthOrdinalNumber, new SelectList(Model.Months, "Key", "Value", Model.SelectedMonthOrdinalNumber), new { @class = "form-control month", disabled = "disabled" }))
    </div>
    <div class="form-group">
        <label>
            @Html.RadioButtonFor(m => m.MonthCustomChoice, "custom")
            Display by Custom Timeframe
        </label>
        <div class="input-daterange input-group" id="datepicker">
            @(Model.MonthCustomChoice == "custom" ? Html.TextBoxFor(m => m.Start, new { @class = "form-control" }) : Html.TextBoxFor(m => m.Start, new { @class = "form-control", disabled = "disabled" }))
            <span class="input-group-addon">to</span>
            @(Model.MonthCustomChoice == "custom" ? Html.TextBoxFor(m => m.End, new { @class = "form-control" }) : Html.TextBoxFor(m => m.End, new { @class = "form-control", disabled = "disabled" }))
        </div>
    </div>
    <input type="submit" value="Display" class="btn btn-primary" />
}

@if (Model.Projects != null && Model.Users != null)
{
    <hr />

    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr><th>Project</th><th>Total Hours</th></tr>
                </thead>
                <tbody>
                    @foreach (var project in Model.Projects)
                    {
                        <tr><td>@project.Name</td><td>@project.TotalHours</td></tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr><th>User</th><th>Total Hours Regular</th><th>Total Hours Overtime</th></tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr><td>@user.UserName</td><td>@user.TotalHoursRegular</td><td>@user.TotalHoursOvertime</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.en-GB.min.js"></script>
    <script>
        "use strict";

        $(document).ready(function () {

            $("input[type=radio][name=MonthCustomChoice]").change(function () {
                if (this.value === "month") {
                    $("select.month").prop("disabled", false);
                    $("input[name=Start]").prop("disabled", true);
                    $("input[name=End]").prop("disabled", true);
                } else if (this.value === "custom") {
                    $("input[name=Start]").prop("disabled", false);
                    $("input[name=End]").prop("disabled", false);
                    $("select.month").prop("disabled", true);
                }
            });

            $(".input-daterange").datepicker({
                format: "dd.mm.yyyy",
                weekStart: 1,
                clearBtn: true,
                todayHighlight: true
            });
        });
    </script>
    @if (ViewBag.Message != null && ViewBag.Message != string.Empty)
    {
        <script>
            "use strict";

            alert("@ViewBag.Message");
        </script>
    }
}
