﻿@model Cyrillic.HR.ViewModels.ParsingRuleViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParsingRule</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
          @Html.DisplayNameFor(model => model.ParsingRule.EmailField)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParsingRule.EmailField)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParsingRule.Regex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParsingRule.Regex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParsingRule.IsQualificationRule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParsingRule.IsQualificationRule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParsingRule.CandidateProperty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParsingRule.CandidateProperty)
        </dd>

    </dl>
</div>
<p>
    @if (Model.UserCanEdit)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ParsingRule.Id }) <span>|</span>
    }
  
    @Html.ActionLink("Back to List", "Index")
</p>
