﻿@model Cyrillic.HR.ViewModels.ShowParsingRulesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.UserCanEdit)
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}
<table class="table table-bordered" id="myTable">
    <thead>
        <tr>
            <th>Email Profile Name</th>
            <th>Email Field</th>
            <th>Regex</th>
            <th>Qualification Rule</th>
            <th>Candidate Property</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParsingRules)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.EmailProfile.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.EmailField)</td>
                <td>@Html.DisplayFor(modelItem => item.Regex)</td>
                <td>@Html.DisplayFor(modelItem => item.IsQualificationRule)</td>
                <td>@Html.DisplayFor(modelItem => item.CandidateProperty)</td>
                <td>
                    @if (Model.UserCanEdit)
                   {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })<span> | </span>
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @if (Model.UserCanEdit)
                    {
                        <span> | </span>@Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Email Profile Name</th>
            <th>Email Field</th>
            <th>Regex</th>
            <th>Qualification Rule</th>
            <th>Candidate Property</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>
@section styles{
    <link href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        "use strinct";

        $(document).ready(function () {
            // Initialize DataTable
            var table = $('#myTable').DataTable();

            // Setup - add a text input to each footer cell
            $('#myTable tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input style="width: 150px;" class="datatable-input-sm" type="text" placeholder="Search ' + title + '" />');
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
}
