﻿@model Cyrillic.HR.ViewModels.TimeTracker.ManagementViewModel
@{
    ViewBag.Title = "Manage Time Tracker";
}

<h2>Manage Time Tracker</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a href="@Url.Action("Index", "Client")" class="list-group-item"><span class="badge">@Model.NumberOfClients</span>Clients</a>
            <a href="@Url.Action("Index", "Project")" class="list-group-item"><span class="badge">@Model.NumberOfProjects</span>Projects</a>
            <a href="@Url.Action("Index", "ProjectTask")" class="list-group-item"><span class="badge">@Model.NumberOfProjectTasks</span>Tasks</a>
        </div>
    </div>
</div>

@*<div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#clients" aria-controls="clients" role="tab" data-toggle="tab">Clients</a></li>
            <li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projects</a></li>
            <li role="presentation"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">Tasks</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="clients">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.ActionLink("Add", "Create", "Client", null, new { @class = "btn btn-primary" })
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Wolters Kluwer</td>
                                <td class="text-center">
                                    @Html.ActionLink("Edit", "Edit", new { controller = "Client", id = 1 }) |
                                    @Html.ActionLink("Details", "Details", new { controller = "Client", id = 1 }) |
                                    @Html.ActionLink("Delete", "Delete", new { controller = "Client", id = 1 })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="projects">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.ActionLink("Add", "Create", "Project", null, new { @class = "btn btn-primary" })
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Company Website</td>
                                <td class="text-center">
                                    @Html.ActionLink("Edit", "Edit", new { controller = "Project", id = 1 }) |
                                    @Html.ActionLink("Details", "Details", new { controller = "Project", id = 1 }) |
                                    @Html.ActionLink("Delete", "Delete", new { controller = "Project", id = 1 })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tasks">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.ActionLink("Add", "Create", "ProjectTask", null, new { @class = "btn btn-primary" })
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Development</td>
                                <td class="text-center">
                                    @Html.ActionLink("Edit", "Edit", new { controller = "ProjectTask", id = 1 }) |
                                    @Html.ActionLink("Details", "Details", new { controller = "ProjectTask", id = 1 }) |
                                    @Html.ActionLink("Delete", "Delete", new { controller = "ProjectTask", id = 1 })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>*@
