﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello @User.Identity.GetUserName()! <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li role="separator" class="divider"></li>
                    @if (User.IsInRole("SysAdmin"))
                    {
                        <li>@Html.ActionLink("Manage Roles", "Index", "Role")</li>
                    }
                    <li>@Html.ActionLink("Manage Users", "Index", "User")</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("Manage Time Tracker", "Index", "TimeTrackerHandler")</li>
                    @*<li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Manage Talent Resource Manager", "Index", "TalentResourceManagerHandler")</li>*@
                </ul>

            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
