﻿body {
    padding-top: 50px;
}

/* Textarea with class "resizev" should be resized only vertically */
textarea.resizev {
    resize: vertical;
}

/* Textarea with class "resizeh" should be resized only horizontally */
textarea.resizeh {
    resize: horizontal;
}

.day.odd {
    background: #b0b0b0;
}

.day.even {
    background: #ddd;
}

.panel {
    border-radius: 0;
    border-top: none;
}

/* BEGIN - Timesheet table styling */
table.table.time-entry {
    margin-bottom: 0;
}

table.table.time-entry td {
    border-top: none;
}

table.table.time-entry button.add-time-entry,
 table.table.time-entry button.edit-time-entry{
    min-width: 40px;
}
/* END - Timesheet table styling */

/* BEGIN - Candidates table styling */
table#myTable {
    table-layout: fixed;
    border-collapse: collapse;
}

table#myTable th,
table#myTable td {
    word-wrap: break-word;
}
/* END - Candidates table styling */
