﻿@model Cyrillic.HR.ViewModels.TalentResourceManager.CandidateViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Candidate", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Candidate</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">First Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Candidate.FirstName, new { @class = "form-control", placeholder = "First Name", required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Last Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Candidate.LastName, new { @class = "form-control", placeholder = "Last Name", required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Candidate.Email, new { @class = "form-control", placeholder = "Email", required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Job Applied To</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Candidate.JobAppliedTo, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Keywords</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Candidate.KeyWords, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Organization</label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SelectedOrganizationId, new SelectList(Model.AccessableOrganizations, "Id ", "Name"), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
