﻿@model Cyrillic.HR.ViewModels.TalentResourceManager.CandidateViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Candidate</h2>

@if (Model.EditableByUser)
{
    @Html.Partial("~/Views/Shared/CandidatePartialViews/_CandidateDetailsEditable.cshtml", Model)
}

else
{
    @Html.Partial("~/Views/Shared/CandidatePartialViews/_CandidateDetailsNonEditable.cshtml", Model)
}

@Html.Partial("~/Views/Shared/CandidatePartialViews/_CandidateDetailsSkillsModal.cshtml", Model)


<div style="margin-top: 40px;">
    @Html.ActionLink("Back to List", "Index")
</div>

<div>
    @Html.Partial("~/Views/Shared/CandidatePartialViews/_CandidateDetailsshowOrganizations.cshtml", Model)
</div>



<link href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#showPopup').click(function () {
                $('#uploadForm').modal();
            });
        })


    </script>

}


