﻿@model Cyrillic.HR.ViewModels.TalentResourceManager.ImportFromEmailViewModel

@{
    ViewBag.Title = "Import From Email";
}

<h2>Import From Email</h2>

@using (Html.BeginForm("GetCandidates", "Candidate", FormMethod.Get))
{
    <div class="form-horizontal">
        <h4>Candidates</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Email Profile</label>
            <div class="col-md-10">
              @Html.DropDownListFor(m => m.SelectedEmailProfileId, new SelectList(Model.EmailProfiles, "Id ", "Name"), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Organization</label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SelectedOrganizationId, new SelectList(Model.Organizations, "Id ", "Name"), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Import" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
