﻿@model Cyrillic.HR.ViewModels.TalentResourceManager.ShowCandidatesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Candidates</h2>

@(Model.Imported ? Html.Partial("~/Views/Shared/CandidatePartialViews/_CandidateIndexImported.cshtml", Model) : Html.Partial("~/Views/Shared/CandidatePartialViews/_CandidateIndexNotImported.cshtml", Model))
@section styles{
    <link href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        "use strict";

        $(document).ready(function () {
            // Initialize Datatable
            var table = $('#myTable').DataTable();

            // Setup - add a search text input to each footer cell
            $('#myTable tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input  style="width:150px;" class="datatable-input-sm" type="text" placeholder="Search ' + title + '" />');
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
}
