﻿@model Cyrillic.HR.ViewModels.TalentResourceManager.CandidateViewModel
@{
    ViewBag.Title = "Edit";
}



<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Skills</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.Candidate.FirstName @Model.Candidate.LastName Skills</h4>
            </div>
            <div class="modal-body">
                <div>
                    @if (Model.Candidate.Skills != null && Model.Candidate.Skills.Any())
                    {
                        <table class="table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Rating</th>
                                    <th>Years of experience</th>
                                    <th>Skill Level</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var skill in Model.Candidate.Skills)
                                {
                                    <tr>
                                        <td>@skill.Name</td>
                                        <td>@skill.Rating</td>
                                        <td>@skill.YearsExperience</td>
                                        <td>@skill.SkillLevel</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    }
                </div>
                @if (Model.EditableByUser)
                {
                    <hr />
                    using (Html.BeginForm("UploadSkills", "Candidate", new { id = Model.Candidate.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        
                        <input type="file" name="FileUpload" />
                        <input type="submit" name="Submit" id="Submit" value="Upload" />
                    }
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
