﻿@model Cyrillic.HR.ViewModels.TalentResourceManager.CandidateViewModel
@{
    ViewBag.Title = "Edit";
}



<div style="margin-top: 35px;">
    <table class="table-bordered" id="myTable">
        <thead>
            <tr>
                <th>Organization Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.AccessableOrganizations.Any())
            {
                foreach (var org in Model.AccessableOrganizations)
                {
                    <tr>
                        <td>@org.Name</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
