﻿@model Cyrillic.HR.ViewModels.TalentResourceManager.CandidateViewModel
@{
    ViewBag.Title = "Edit";
}



<div class="form-horizontal">
    <h4>@Model.Candidate.FirstName @Model.Candidate.LastName</h4>
    @if (Model.Candidate.ApplicationUser != null)
    {
        <h5>Assigned to: @Model.Candidate.ApplicationUser.UserName</h5>
    }
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2">First Name</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Candidate.FirstName, new { @class = "form-control", placeholder = "First Name", required = "required" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Last Name</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Candidate.LastName, new { @class = "form-control", placeholder = "Last Name", required = "required" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Email</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Candidate.Email, new { @class = "form-control", placeholder = "Email", required = "required" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Job Applied To</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Candidate.JobAppliedTo, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Keywords</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Candidate.KeyWords, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Organizations</label>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SelectedOrganizationId, new SelectList(Model.RemoveFromOrganizations, "Id ", "Name"), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Assigned To</label>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.AssignedOrgUserId, new SelectList(Model.OrgUsers, "Id ", "UserName"), new { @class = "form-control" })
        </div>
    </div>
</div>

