﻿@model Cyrillic.HR.ViewModels.TalentResourceManager.ShowCandidatesViewModel

@{
    ViewBag.Title = "Index";
}

@Html.HiddenFor(x => Model.Imported)
<table class="table table-bordered" id="myTable">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Job Applied</th>
            <th>Assigned To</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Candidates.Any())
        {
            for (var i = 0; i < Model.Candidates.Count; i++)
            {
                <tr>
                    @Html.HiddenFor(x => Model.ImportingOrganizationId)
                    @Html.HiddenFor(x => Model.Candidates[i].ImagePath)
                    <td>@Model.Candidates[i].FirstName</td>
                    @Html.HiddenFor(x => Model.Candidates[i].FirstName)
                    <td>@Model.Candidates[i].LastName</td>
                    @Html.HiddenFor(x => Model.Candidates[i].LastName)
                    <td>@Model.Candidates[i].Email</td>
                    @Html.HiddenFor(x => Model.Candidates[i].Email)
                    <td>@Model.Candidates[i].JobAppliedTo</td>
                    @Html.HiddenFor(x => Model.Candidates[i].JobAppliedTo)
                    @Html.HiddenFor(x => Model.Candidates[i].KeyWords)
                    @Html.HiddenFor(x => Model.Candidates[i].ApplicationUserId)
                    @if (Model.Candidates[i].ApplicationUser != null)
                    {
                        <td>@Model.Candidates[i].ApplicationUser.UserName</td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                    }
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Job Applied To</th>
            <th>Assigned To</th>
        </tr>
    </tfoot>
</table>
<button type="submit" class="btn btn-primary">Save</button>
<a href="@Url.Action("ImportFromEmail", "Candidate")" class="btn btn-primary">Cancel</a>
