﻿
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron text-center">
    <h1>Talent Resource Manager</h1>
    <p class="lead">Talent Resource Manager is an app for managing job candidates and organizations.</p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Candidates</h2>
        <p>Module for managing job candidates.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "Candidate")">Launch &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Organizations</h2>
        <p>Module for managing organizations.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "Organization")">Launch &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Email Profiles</h2>
        <p>Module for managing email profiles for organizations when importing candidates.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "EmailProfile")">Launch &raquo;</a></p>
    </div>
</div>
