﻿@using Cyrillic.HR.ViewModels.TimeTracker
@model TimeSheetViewModel
@{
    ViewBag.Title = "TimeSheet";
}

<div class="jumbotron text-center">
    <h2>
        <!-- Change the links to be forms submitting dates as POST parameters to avoid them being displayed as ugly strings in address bar -->
        <a href="@Url.Action("RegressTimeSheet", new {controller = "TimeTracker", currentStartDate = Model.StartDay})" style="margin-right: 10px">
            <strong>&laquo;</strong>
        </a>
        <span>@Model.StartDayFormatted - @Model.EndDayFormatted</span>
        <a href="@Url.Action("AdvanceTimeSheet", new {controller = "TimeTracker", currentStartDate = Model.StartDay})" style="margin-left: 10px">
            <strong>&raquo;</strong>
        </a>
    </h2>
    @Html.ActionLink("Current Week", "Index", "TimeTracker", new { @class = "btn btn-primary" })
</div>
<div class="container-fluid">
    @{ var counter = 0; }
    @foreach (var timeSheetDay in Model.TimeSheetDays)
    {
        var oddEven = counter % 2 == 0 ? "even" : "odd";
        <div class="row day @oddEven">
            <div class="col-md-1">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>@timeSheetDay.Name</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                @foreach (var timeSheetTimeEntry in timeSheetDay.TimeSheetTimeEntries)
                {
                    @Html.Partial("~/Views/TimeTracker/Partials/_TimeEntryManageForm.cshtml", timeSheetTimeEntry)
                }

                @Html.Partial("~/Views/TimeTracker/Partials/_TimeEntryManageForm.cshtml", new TimeSheetTimeEntryViewModel(Model.Db) { Date = timeSheetDay.Date, ApplicationUserId = Model.ApplicationUserId, WeekStartDate = Model.StartDay, WeekEndDate = Model.EndDay })
            </div>
        </div>
        {
            counter++;
        }
    }
</div>
