﻿@model IEnumerable<Cyrillic.HR.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("SysAdmin") || User.IsInRole("OrgAdmin"))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}
<table class="table table-bordered" id="myTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @if (User.IsInRole("SysAdmin") || User.IsInRole("OrgAdmin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })<span> | </span>
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (User.IsInRole("SysAdmin") || User.IsInRole("OrgAdmin"))
                {
                    <span> | </span>@Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>
@section styles{
    <link href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        "use strinct";

        $(document).ready(function () {
            // Initialize DataTable
            var table = $('#myTable').DataTable();

            // Setup - add a text input to each footer cell
            $('#myTable tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input style="width: 150px;" class="datatable-input-sm" type="text" placeholder="Search ' + title + '" />');
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
}
