﻿@{
    ViewBag.Title = "Home";
}

<div class="jumbotron text-center">
    <h1>Cyrillic.HR</h1>
    <p class="lead">Cyrillic.HR is a web application for recruiting job candidates and tracking their time spent on projects.</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <h2>Time Tracker</h2>
        <p>Web application for tracking time spent on projects.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "TimeTracker")">Launch &raquo;</a></p>
    </div>
    <div class="col-md-6 text-center">
        <h2>Talent Resource Manager</h2>
        <p>Web application for managing job candidates.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "TalentResourceManager")">Launch &raquo;</a></p>
    </div>
</div>
