﻿@model Cyrillic.HR.ViewModels.TimeTracker.TimeSheetTimeEntryViewModel
@using (Html.BeginForm("ManageTimeEntry", "TimeTracker", FormMethod.Post))
{
    @Html.HiddenFor(tste => tste.WeekStartDate)
    @Html.HiddenFor(tste => tste.WeekEndDate)
    @Html.HiddenFor(tste => tste.Id)
    @Html.HiddenFor(tste => tste.ApplicationUserId)
    @Html.HiddenFor(tste => tste.Date)
    <table class="table time-entry">
        <tbody>
            <tr>
                <td class="text-center">
                    @Html.DropDownListFor(tste => tste.ClientId, Model.Clients, new { @class = "form-control" })
                </td>
                <td class="text-center">
                    @Html.DropDownListFor(tste => tste.ProjectId, Model.Projects, new { @class = "form-control" })
                </td>
                <td class="text-center">
                    @Html.DropDownListFor(tste => tste.ProjectTaskId, Model.ProjectTasks, new { @class = "form-control" })
                </td>
                <td class="text-center">@Html.TextAreaFor(tste => tste.Comment, new { @class = "form-control resizev", rows = "1", placeholder = "Comment..." })</td>
                <td class="text-center">@Html.TextBoxFor(tste => tste.Hours, new { @class = "form-control", placeholder = "Hours (0.0)" })</td>
                <td class="text-center"><label>OT @Html.EditorFor(tste => tste.Overtime)</label></td>
                @if (Model.Id == 0)
                {
                    <td class="text-right"><button type="submit" class="btn btn-success add-time-entry">&#43;</button></td>
                }
                else
                {
                    <td class="text-right"><button type="submit" class="btn btn-primary edit-time-entry">&#x270e;</button></td>
                }
            </tr>
        </tbody>
    </table>
}
